---
---

/* Main colors */
$color-purple: #92278F;
$color-purple-dark: #781373;
$color-purple-darkest: #62045E;

$color-light-background: #f5f5f5;

$color-orange: #F99420;
$color-green: #87C234;


/**
 * Main
 */

$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 50px;

  /* Margin bottom by footer height */
  margin-bottom: $footer-height + 10px;
}

h1, h2, h3, h4, h5 {
  color: $color-purple-darkest;
}

a {
  color: $color-purple;

  &:hover {
    color: $color-purple-dark;
  }
}

.bulletin-adhesion {
  text-align: center;
}

/* custom button */
.btn-purple {
  color: #fff;
  background-color: $color-purple;
  border-color: $color-purple-darkest;
}

.btn-purple:hover {
  color: #fff;
  background-color: $color-purple-dark;
  border-color: $color-purple-darkest;
}


/**
 * Navbar
 */

/* navbar: bootstrap overwrites */
.navbar>.container {
  .navbar-header {
    position: relative;

    .logo {
      position: absolute;
      left: 0px;
      top: 3px;
    }

    .navbar-brand {
      margin-left: 60px;
      color: $color-purple-darkest;
    }
  }
}

.navbar-default {
  .navbar-nav>li>a {
    font-size: 18px;
    color: #444;
  }

  .navbar-nav>.active>a,
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus {
    // font-weight: bold;
  }
}

/**
 * Footer
 */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $color-light-background;
  padding: 10px;

  p {
    text-align: center;
    margin-bottom: 0;
  }
}

/**
 * Jumbotron
 */

$jumbotron-color: #fff;
$jumbotron-background-color: $color-purple;
$jumbotron-description-color: #ddd;

.jumbotron {
  color: $jumbotron-color;
  background-color: $jumbotron-background-color;

  .description {
    color: $jumbotron-description-color;
    font-size: 24px;
  }
}

/**
 * Home
 */

#home {
  section {
    font-size: 18px;
  }

  .intro {
    padding: 10px;
    font-size: 18px;
    text-align: justify;

    .adhesion {
      margin-top: 20px;
      text-align: center;
    }
  }

  .actions {
    margin-top: 20px;
    text-align: justify;

    i.fa {
      margin-right: 15px;
    }

    .more {
      text-align: center;
      margin-top: 20px;
    }

    .action {
      margin-bottom: 30px;
    }
  }

  .ouverture {
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: $color-light-background;

    h2 {
      color: $color-purple-darkest;
      margin-bottom: 20px;
    }

    i.research {
      width: 48px;
      margin-left: 22px;
    }
  }

  .rejoindre {
    padding-bottom: 10px;

    .desc {
      text-align: justify;
    }

    .adhesion {
      text-align: center;
    }
  }
}

/**
 * Actions
 */

#actions {

}

/**
 * Contact
 */

#contact {
  .vcard {
    font-size: 16px;
  }

  .bulletin-adhesion {
    margin-top: 30px;
  }

  .contact {
    i.fa {
      margin-right: 10px;
    }
  }

  .social {
    font-size: 24px;

    i.fa {
      margin-right: 10px;
    }
  }
}

/**
 * Equipe
 */

#equipe {
  .member {
    text-align: center;
    margin-bottom: 40px;
  }

  .role {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
  }

  .fondateur {
    font-size: 15px;
    font-style: italic;
  }
}
