---
---

/* Main colors */
$color-purple: #92278F;
$color-orange: #F99420;
$color-green: #87C234;


/**
 * Main
 */

$footer-height: 50px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 50px;

  /* Margin bottom by footer height */
  margin-bottom: $footer-height + 10px;
}

.bulletin-adhesion {
  text-align: center;
}

/**
 * Navbar
 */

$navbar-color: #444;

/* navbar: bootstrap overwrites */
.navbar>.container {
  .navbar-header {
    position: relative;

    .logo {
      position: absolute;
      left: 0px;
      top: 3px;
    }

    .navbar-brand {
      margin-left: 60px;
      color: $navbar-color;
    }
  }
}

.navbar-default {
  .navbar-nav>li>a {
    font-size: 18px;
    color: $navbar-color;
  }

  .navbar-nav>.active>a,
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus {
    // font-weight: bold;
  }
}

/**
 * Footer
 */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: #f5f5f5;
  padding: 10px;

  p {
    text-align: center;
    margin-bottom: 0;
  }
}

/**
 * Jumbotron
 */

$jumbotron-color: #fff;
$jumbotron-background-color: $color-purple;
$jumbotron-description-color: #ddd;

.jumbotron {
  color: $jumbotron-color;
  background-color: $jumbotron-background-color;

  .description {
    color: $jumbotron-description-color;
    font-size: 24px;
  }
}

/**
 * Contact
 */

#contact {
  .vcard {
    font-size: 16px;
  }

  .bulletin-adhesion {
    margin-top: 30px;
  }

  .contact {
    i.fa {
      margin-right: 10px;
    }
  }

  .social {
    font-size: 24px;

    i.fa {
      margin-right: 10px;
    }
  }
}

/**
 * Equipe
 */

#equipe {
  .member {
    text-align: center;
    margin-bottom: 40px;
  }

  .name {
    font-size: 20px;
    line-height: 25px;
  }

  .role {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
  }

  .fondateur {
    font-size: 15px;
    font-style: italic;
  }
}
