---
---

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* Main colors */
$color-purple: #92278F;
$color-purple-dark: #781373;
$color-purple-darkest: #62045E;

$color-light-background: #f5f5f5;

$color-orange: #F99420;
$color-orange-dark: #E8470C;
$color-orange-darkest: #F99420;

$color-green: #87C234;

/**
 * Mixins
 */
@mixin rotate($value) {
    -webkit-transform: rotate($value);
       -moz-transform: rotate($value);
        -ms-transform: rotate($value);
         -o-transform: rotate($value);
            transform: rotate($value);
}

/**
 * Main
 */

$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

h1, h2, h3, h4, h5 {
  color: $color-purple-darkest;
}

a {
  color: $color-purple;

  &:hover {
    color: $color-purple-dark;
  }
}

.bulletin-adhesion {
  text-align: center;
}

/* custom button */
.btn-purple {
  color: #fff;
  background-color: $color-purple;
  border-color: $color-purple-darkest;
}
.btn-purple:hover {
  color: #fff;
  background-color: $color-purple-dark;
  border-color: $color-purple-darkest;
}

.btn-orange {
  color: #fff;
  background-color: $color-orange;
  border-color: $color-orange-darkest;
}
.btn-orange:hover {
  color: #fff;
  background-color: $color-orange-dark;
  border-color: $color-orange-darkest;
}


/**
 * Navbar
 */

/* navbar: bootstrap overwrites */
.navbar {
  margin-bottom: 0px;
}

.navbar>.container {
  .navbar-header {
    position: relative;

    .logo {
      position: absolute;
      left: 0px;
      top: 3px;
    }

    .navbar-brand {
      margin-left: 60px;
      color: $color-purple-darkest;
    }
  }
}

.navbar-default {
  .navbar-nav>li>a {
    font-size: 16px;
    color: #444;

    @media (min-width: $screen-md-min) {
      font-size: 18px;
    }
  }

  .navbar-nav>.active>a,
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus {
    // font-weight: bold;
  }
}

/**
 * Footer
 */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  padding: 10px;

  p {
    text-align: center;
    margin-bottom: 0;
  }

  background-color: $color-purple;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

/**
 * Jumbotron
 */

$jumbotron-color: #fff;
$jumbotron-background-color: $color-purple;
$jumbotron-description-color: #ddd;

.jumbotron {
  margin-bottom: 0px;

  color: $jumbotron-color;
  background-color: $jumbotron-background-color;

  h1 {
    @media (max-width: $screen-xs-max) {
      font-size: 30px;
    }
  }

  .description {
    color: $jumbotron-description-color;

    @media (max-width: $screen-xs-max) {
      font-size: 16px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 24px;
    }
  }
}

/**
 * Home
 */

#home {
  section {
    padding-top: 20px;
    padding-bottom: 30px;

    @media (min-width: $screen-sm-min) {
      font-size: 18px;
    }

    &:nth-child(2n + 1) {
      background-color: $color-light-background;
    }
  }

  h2 {
    font-size: 25px;
    @media (min-width: $screen-md-min) {
      font-size: 30px;
    }
  }

  .resume {
    padding-top: 40px;

    .photo {
      @media (min-width: $screen-md-min) {
        @include rotate(-5deg);
        margin-top: 15px;
      }
      @media (min-width: $screen-lg-min) {
        margin-top: -10px;
      }
    }

    .intro {
      padding: 10px 10px 0px 10px;
      text-align: justify;

      @media (min-width: $screen-sm-min) {
        font-size: 18px;
      }

      .adhesion {
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: center;
      }
    }
  }

  .actions {
    padding-bottom: 10px;
    text-align: justify;

    i.fa {
      margin-right: 15px;
    }

    .more {
      // text-align: center;
      margin-top: 20px;
    }

    .action {
      margin-bottom: 20px;
    }
  }

  .ouverture {
    background-color: $color-light-background;

    h2 {
      color: $color-purple-darkest;
      margin-bottom: 20px;
    }

    img.media-object {
      margin-top: 5px;
    }

    i.research {
      width: 48px;
      margin-left: 22px;
    }
  }

  .rejoindre {
    .desc {
      text-align: justify;
    }

    .adhesion {
      margin-top: 30px;
      text-align: center;
    }
  }
}

/**
 * Actions
 */

#actions {
  section {
    padding-top: 20px;
    padding-bottom: 50px;

    @media (min-width: $screen-sm-min) {
      font-size: 16px;
    }

    &:nth-child(2n) {
      background-color: $color-light-background;
    }
  }

  #communication {
    .social {
      margin-top: 20px;
      text-align: center;
    }
  }
}

/**
 * Contact
 */

#contact {
  .content {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .vcard {
    @media (min-width: $screen-sm-min) {
      font-size: 16px;
    }
  }

  .bulletin-adhesion {
    margin-top: 30px;
  }

  .coordonnees {
    i.fa {
      margin-right: 10px;
    }
  }

  .social {
    @media (min-width: $screen-sm-min) {
      font-size: 24px;
    }

    i.fa {
      margin-right: 10px;
    }
  }
}

/**
 * Equipe
 */

#equipe {
  .content {
    padding-top: 30px;
  }

  .member {
    text-align: center;
    margin-bottom: 40px;

    h3 {
      height: 2em;
    }
  }

  .role {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
  }
}

/**
 * Statuts
 */

#statuts {
  .content {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: $screen-sm-min) {
      font-size: 16px;
    }
  }
}

/**
 * Syndrome
 */

#syndrome {
  .content {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: $screen-sm-min) {
      font-size: 16px;
    }
  }
}
