<footer>

  <div class="container">
    <p><i class="fa fa-facebook"></i> <a href="https://www.facebook.com/williamsbretagne" target="_blank">Facebook</a> | <i class="fa fa-twitter"></i> <a href="https://twitter.com/WilliamsBZH" target="_blank">Twitter</a> | <i class="fa fa-google-plus"></i> <a href="https://plus.google.com/116488401380436328515" rel="publisher">Google+</a></p>
    <p><i class="fa fa-file-o"></i> <a href="/files/bulletin-adhesion.pdf" target="_blank">Bulletin d'adhésion</a></p>
  </div>

</footer>
