<header class="navbar navbar-default" role="banner">

	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button"  data-toggle="collapse" data-target="#navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a href="/{{ site.baseurl }}" class='navbar-brand'><img class="logo" src="/img/logo_70x44.png" alt="Williams Bretagne" /> {{ site.title }}</a>
		</div>

		<nav class="collapse navbar-collapse navbar-right" id="navbar-collapse-1" role="navigation">
			<ul class="nav navbar-nav">
				{% for site_page in site.pages %}
					{% if site_page.in-navbar %}
						<li class="{% if page.body-id == site_page.body-id %}active{% endif %}"><a href="{{ site_page.url | prepend: site.baseurl }}">{{ site_page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>

</header>
